
body, #index-body, #recherche-body, #admin-body {
  background-size:cover;
}

body {
  margin:0;
  padding:0;
  width: 100%;
}

#index-body {
  background: url('../images/fond.jpg') no-repeat center fixed;
}

#recherche-body {
  background: url('../images/fond2.jpg') no-repeat center fixed;
}

#admin-body {
  background: url('../images/fond4.jpg') no-repeat center fixed;
}

header{
  display:flex;
  justify-content:space-between;
  background-color:rgb(183,199,209);
}
header,main{
  padding:15px;
}
header a,nav a{
  text-decoration:none;
  margin-left:20px;
  color:rgb(29,33,45);
}
nav{
  text-transform:uppercase;
}
#container-logo{
  display:flex;
  flex-direction:column;
}
#logo{
  width:250px;
}
#logoJP{
  position: absolute;
  margin-left:145px;
  margin-top:35px;
  width:100px;
}

h1{
  text-align:center;
}

main{
  margin:0 auto;
  margin-bottom: 100px;
}

/*Page personnage*/
.container-personnages{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

}
.personnage{
  width:420px;
  background-color:rgb(229,235,242);
  padding:30px;
  border-radius:10px;
  margin:10px;
}

.container-image {
  display: flex;
  justify-content: center;
}

.img-carte{
  height: 400px;
}
.groupe-categorie{
  display:flex;
  align-items:center;
  margin-bottom:16px;
}
.groupe-categorie p{
  margin-bottom:0;
}
.nom-affiliation{
  display:block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.classe-arme {
  height: 60px;
}

.icon-arme-prim {
  margin-left: 25px;
}

.classe p {
  margin-left: 10px;
}

.jeu p, .annee-plateforme p {
  margin-left: 15px;
}

.icon{
max-height: 16px;
margin-right: 10px;
}

.picto {
  max-height: 60px;
}

.couverture-jeu{
  width:100px;
}

/*Page recherche*/

#form{
  width:300px;
  height:225px;
  padding:15px;
  display:flex;
  flex-direction:column;
  background-color:rgb(229,235,242);
  border-radius:10px;
  text-align:center;
}
.form-content{
  margin-top:25px;
}
footer{
  position: fixed;
  bottom:0;
  width:100%;
  color:#fff;
  background-color:rgb(29,33,45);
}

footer p {
  margin: 20px;
}

/*Page Admin(back-office)*/
.form_backoffice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100px;
  padding:15px;
  margin:20px;
  background-color:rgb(229,235,242);
  border-radius:10px;
}

#container-form {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
